.chat_page {
  position: relative;
}

.chat_upper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-background);
  padding: 24px;
}

.chat_upper h1 {
  /* font-size: 22px; */
  font-weight: 600;
}

.chat_upper_pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100px;
}

.messages_sec {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-top: 90px;
}
