.profile_title {
  display: flex;
  align-items: center;
}

.profile_title svg {
  margin-right: 16px;
}

.profile_nav {
  display: flex;
}
.profile_top {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
  align-items: center;
}

.profile svg {
  margin-left: 16px;
}

.font_info {
  font-size: 14px;
  font-weight: 550;
}
.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile_img img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  object-fit: cover;
  margin-bottom: 12px;
}

.profile_img {
  position: relative;
}

.userOn {
  position: absolute;
  top: 90px;
  right: -5px;
}

.font_bio {
  font-size: 14px;
  text-align: center;
}
.font_link {
  color: #246bfd;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.profile_numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.profile_numbers h1 {
  text-align: center;
  padding: 5px 30px;
}

.profile_numberbox {
  text-align: center;
  height: 55px;
}
.profile_numberborder {
  border-left: 1.6px solid rgba(128, 128, 128, 0.299);
  border-right: 1.6px solid rgba(128, 128, 128, 0.299);
  padding-inline: 40px;
}
@media only screen and (min-width: 1024px) {
  .profile {
    max-width: 600px; /* Center the profile for better visual balance */
    margin: auto;
    padding: 10px;
  }

  .profile_img img {
    width: 100px; /* Adjust profile image size for smaller desktops */
    height: 100px;
  }

  .profile_info h1,
  .profile_numbers h1 {
    font-size: 18px; /* Adjust heading size for readability */
  }

  .profile_info p,
  .profile_numbers p {
    font-size: 14px; /* Adjust paragraph text size */
  }

  .profile_numbers {
    padding: 0 20px; /* Add padding to align numbers properly */
  }

  .profile_nav svg,
  .userOn svg {
    width: 24px; /* Adjust SVG icons size */
    height: 24px;
  }

  .userOn {
    position: absolute;
    top: 80px;
    right: -5px;
  }

  .profile_info {
    padding: 10px 0; /* Adjust padding around the profile information */
  }

  .font_link {
    font-size: 14px; /* Adjust the size of clickable links */
  }

  .profile_numberbox {
    flex-basis: 33%; /* Ensure number boxes take equal width */
    justify-content: center; /* Center the content within the number boxes */
  }

  .profile_numberbox h1 {
    margin-bottom: 5px; /* Adjust spacing between number and label */
  }
}
