.message_div {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  width: 75%;
}

.message_img_div {
  min-width: 36px;
}

.message_img_div .message_profile_pic {
  width: 36px;
  height: 36px;
  border-radius: 60px;
  object-fit: cover;
}

.message_content {
  background-color: var(--input-grey);
  border-radius: 20px;
  padding: 12px;
}

.message_content p {
  font-weight: 500;
  line-height: 160%;
  font-size: 16px;
}

.partner_messages {
  margin-left: auto;
  flex-direction: row-reverse;
}

.partner_messages .message_content {
  background: linear-gradient(0.38turn, var(--light-pink), var(--mid-pink));
  /* background-color: var(--light-pink); */
}
.partner_messages .message_content p {
  color: var(--input-grey);
  font-weight: 600;
}
