.chat_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: unset;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--input-grey);
  cursor: pointer;
}

.chat_view_content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.chat_view_content img {
  min-height: 48px;
  max-height: 48px;
  min-width: 48px;
  max-width: 48px;
  border-radius: 100px;
  object-fit: cover;
}

.chat_view_content h3 {
  font-size: 16px;
}

.chat_view_content p {
  font-size: 14px;
}

.chat_view_content p span {
  font-weight: 400;
}

.message_unread_dot {
  width: 8px;
  height: 8px;
  border-radius: 12px;
  background-color: var(--mid-pink);
}
