.send_message {
  position: fixed;
  left: 0px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    transparent,
    var(--main-background),
    var(--main-background) 55% 100%
  );
  padding: 32px 14px 16px 14px;
  border-radius: 24px 24px 0 0;
}
.send_message form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--input-grey);
  border-radius: 100px;
  border: 1px solid var(--icons-grey);
  padding: 4px;
}

.send_message input {
  background-color: unset;
  border: unset;
  padding: 12px;
  font-size: 16px;
  width: 100%;
}

.send_message button {
  /* background-color: var(--mid-pink); */
  background: linear-gradient(0.38turn, var(--light-pink), var(--mid-pink));
  border-radius: 100px;
  color: white;
  padding-inline: 18px;
  font-size: 17px;
  font-weight: 600;
  border: unset;
}
