nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 58px;
  padding-block: 16px 12px;
  background-color: var(--main-background);
  border-radius: 20px 20px 0 0;
  border-top: 1px solid var(--input-grey);
  box-shadow: 5px -10px 15px rgba(0, 0, 0, 0.03);
}

nav a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

nav a p {
  font-size: 10px;
  font-weight: medium;
  color: var(--icons-grey);
}

.active svg {
  fill: var(--mid-pink);
}

.active svg path {
  stroke: unset;
}

.active p {
  color: var(--mid-pink);
  font-weight: 700;
}

.active .search_svg circle {
  stroke: var(--main-background);
}

.active .search_svg path {
  stroke: var(--mid-pink);
}

/* nav .upload_link svg {
  fill: none;
}

nav .active .upload_svg {
  fill: none;
  background-color: var(--mid-pink);
  border-radius: 100px;
} */

nav .active svg {
  stroke: var(--main-background);
}

nav .active svg rect {
  stroke: var(--mid-pink);
}
@media (min-width: 1024px) {
  nav {
    top: 50%; /* Zentriert die Nav vertikal zur Hälfte des Bildschirms */
    left: 0;
    transform: translateY(-50%); /* Perfekte vertikale Zentrierung */
    width: 80px; /* Verkleinern der Breite für eine schmalere Sidebar */
    max-height: 260px; /* Entfernen der vollen Höhe, um die Höhe der Inhalte anzupassen */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    border-radius: 0 20px 20px 0; /* Rundung nur an den rechten Ecken */
    border-top: none;
    border-left: 1px solid var(--input-grey);
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.03),
      /* Schatten oben rechts */ -15px 15px 25px rgba(0, 0, 0, 0.1),
      /* Schatten oben links */ 15px -15px 25px rgba(0, 0, 0, 0.03),
      /* Schatten unten rechts */ -15px -15px 25px rgba(0, 0, 0, 0.03); /* Schatten unten links */
  }

  nav a {
    justify-content: center;
    padding: 12px;
  }

  nav a p {
    font-size: 12px;
    display: block; /* Stellt sicher, dass der Text immer angezeigt wird */
  }
}
