.cmnt_popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  padding-block: 48px 80px;
  background-color: var(--main-background);
  width: 100%;
  height: 100svh;
  padding-inline: 24px;
  overflow: scroll;
  animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cmt_upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33.5px;
}

.cmt_upper div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cmt_upper div h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
}

.cmt_userinfos {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--input-grey);
  margin-bottom: 24px;
}

.cmt_userinfos .post_upper {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--input-grey);
  margin-bottom: 12px;
}

.post_desctext {
  margin-bottom: 24px;
}

.cmt_userinfos .hashtags_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.hashtags_wrapper a {
  text-decoration: none;
  color: var(--hashtag-blue);
}

.cmnt_popup .post_reactions {
  margin: unset;
}

.cmnt_section {
  margin-bottom: 40px;
}

.more_cmnts_btn {
  background-color: unset;
  border: unset;
  margin-left: 36%;
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
}

.post_date_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-bottom: 12px;
}
.post_date_wrapper p {
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .cmnt_popup {
    position: fixed;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%; /* Anpassung auf eine angemessene Breite */
    max-width: 700px; /* Maximale Breite, um zu große Breiten zu vermeiden */
    height: 100vh;

    overflow-y: auto;
    padding: 48px 48px 0 48px; /* Erhöhter Innenabstand */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Schatten für bessere Abhebung */
    border-radius: 25px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .cmnt_popup::-webkit-scrollbar {
    display: none;
  }

  .cmt_upper div h3 {
    font-size: 28px; /* Größere Schriftgröße für Desktop */
  }

  .cmt_userinfos .post_upper {
    flex-direction: row; /* Anpassen der Anordnung */
    align-items: center;
    justify-content: space-between;
  }

  .cmt_userinfos .hashtags_wrapper {
    margin-top: 12px;
  }

  .more_cmnts_btn {
    margin-left: auto; /* Zentriert den Button im Bereich */
    margin-right: auto;
  }

  .post_date_wrapper {
    justify-content: space-between; /* Optimiert die Anzeige von Datum und Ort */
  }
}
