.dash_section {
  padding-top: 32px;
}

.dash_heading_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.dash_heading_div div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.posts_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}

.more_posts_btn {
  background-color: unset;
  border: unset;
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.nofeed_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 30svh;
}

.nofeed_wrapper p {
  font-size: 16px;
}

.nofeed_wrapper a {
  color: var(--mid-pink);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}
@media only screen and (min-width: 1024px) {
  .dash_section {
    max-width: 600px;
    margin: auto;
  }
}
