.discover_post_popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-block: 48px 80px;
  background-color: var(--main-background);
  width: 100%;
  height: 100svh;
  padding-inline: 14px;
  overflow: scroll;
  animation: fade-in 0.3s ease forwards;
}

.discover_post_popup .cmt_userinfos {
  border: unset;
  padding: unset;
  margin: unset;
}

.discover_post_popup .post_upper {
  border: unset;
  padding: unset;
}

.discover_post_popup .cmt_upper div {
  gap: 4px;
}

.discover_post_popup .cmt_upper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.discover_post_popup .post_reactions {
  margin-bottom: 24px;
}

.discover_post_popup .posted_date {
  margin-bottom: 24px;
}

.discover_post_popup .hashtags_wrapper {
  margin-bottom: 12px;
}

.discover_back_img {
  width: 24px;
}

@media (min-width: 1024px) {
  .discover_post_popup {
    padding-bottom: 0;
    width: 44%;
    min-width: 650px;
    left: 26%;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .discover_post_popup::-webkit-scrollbar {
    display: none;
  }
}
