.profile_tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
  border-top: 1px solid rgba(128, 128, 128, 0.299);
  width: 100%;
  margin-top: 24px;
}

.tab {
  width: 33.33%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  font-weight: bold;
  color: var(--icons-grey);
}

.tab.active {
  color: var(--mid-pink);
  border-bottom: 4px solid var(--mid-pink);
}
.profile_content {
  overflow: hidden;
  width: 100%;
  margin-bottom: 75px;
}
.sections {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.section img {
  width: unset;
  height: unset;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 4px;
}
@media only screen and (min-width: 1024px) {
  .section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
  }
  .section img {
    /* width: 153px;
    height: 153px;
     */
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 4px;
  }
}
