.search_site {
  margin-top: 200px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search_res_upper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 44px;
  padding-inline: 14px;
  background-color: var(--main-background);
  border-radius: 0 0 12px 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.lower_zindex {
  z-index: 1;
  display: none;
}

.search_site form {
  display: flex;
  gap: 12px;
  padding: 18px 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.search_site form input {
  background-color: unset;
  border: unset;
  width: 100%;
  margin-right: 24px;
}

.search_btns_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;
}

.search_btns_wrapper button {
  cursor: pointer;
  background: unset;
  border: unset;
}

.search_btns_wrapper button img {
  height: 21px;
}

.search_btns_wrapper button:first-of-type img {
  height: 24px;
}

.red_line {
  width: 100%;
  height: 3px;
  background-color: var(--mid-pink);
  border-radius: 5px;
}

.search_results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .higher_zindex{

} */

.search_results a {
  text-decoration: none;
}

.search_results .hashtag_link {
  text-decoration: none;
  color: var(--hashtag-blue);
  padding-left: 6px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--input-grey);
  cursor: pointer;
}
