.post_cmnt_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  border-radius: 24px 24px 0 0;
  border-top: 1px solid var(--input-grey);
  background-color: var(--main-background);
}

.post_cmnt_wrapper img {
  min-width: 48px;
  height: 48px;
  border-radius: 1000px;
  object-fit: cover;
}

.post_cmnt_wrapper input {
  width: 100%;
  border: unset;
  border-radius: 12px;
  padding-left: 12px;
  background-color: var(--input-grey);
}

.post_cmnt_wrapper button {
  background-color: unset;
  border: unset;
  color: var(--light-pink);
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .post_cmnt_wrapper {
    position: sticky;
    bottom: -1px;

    width: auto;
    padding: 24px;
    border-radius: 24px 24px 0 0;
    border-top: 1px solid var(--input-grey);
    background-color: var(--main-background);
  }

  .post_cmnt_wrapper input {
    padding-left: 24px;
    font-size: 18px;
  }

  .post_cmnt_wrapper button {
    padding: 12px 24px;
    font-size: 20px;
  }
}
